@font-face {
    font-family: "Lato_Bold";
    src: url("../assets/lato/Lato-Bold.ttf")format("truetype");
}

@font-face {
    font-family: "Lato_Regular";
    src: url("../assets/lato/Lato-Regular.ttf")format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url('../assets/lato/Lato-Thin.ttf')format("truetype");
}

@font-face {
    font-family: "Lato_Light";
    src: url('../assets/lato/Lato-Light.ttf')format("truetype");
}

@font-face {
    font-family: "Lato_Black";
    src: url('../assets/lato/Lato-Black.ttf')format("truetype");
}